Repository ucsb-cs148-w25/pj08-studytimer, pull requests merged in 2025-02, with the labels that each got.

#119 Reorganized Frontend File Structure
  frontend/src/App.js
  frontend/src/components/About/About.css
  frontend/src/components/About/About.js
  frontend/src/components/AppSettings/Settings.css
  frontend/src/components/AppSettings/Settings.js
  frontend/src/components/Calendar/CalendarEmbed.css
  frontend/src/components/Calendar/CalendarEmbed.js
  frontend/src/components/Calendar/CalendarPage.css
  frontend/src/components/Calendar/CalendarPage.js
  frontend/src/components/Calendar/Header.css
  frontend/src/components/Calendar/Header.js
  frontend/src/components/Calendar/Sidebar.css
  frontend/src/components/Calendar/Sidebar.js
  frontend/src/components/Home/SettingsModal.css
  frontend/src/components/Home/SettingsModal.js
  frontend/src/components/NavBar/Login.js
  frontend/src/components/NavBar/Navbar.css
  frontend/src/components/NavBar/Navbar.js
  frontend/src/components/NavbarStyles.css
  frontend/src/components/Profile/Profile.css
  frontend/src/components/Profile/Profile.js
  frontend/src/components/ToDo/MetricsChart.css
  frontend/src/components/ToDo/MetricsChart.js
  frontend/src/components/ToDo/TaskManager.css
  frontend/src/components/ToDo/TaskManager.js
  frontend/src/logo.svg
  frontend/test/App.test.js
  frontend/test/setupTests.js
Labels: Enhancement, Frontend

#131 Kevin + Edwin: Firebase Store and Revamp of Cookies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ThemeStyles.css
  frontend/src/components/NavBar/Navbar.js
  frontend/src/components/ToDo/HeadsUpModal.css
  frontend/src/components/ToDo/HeadsUpModal.js
  frontend/src/components/ToDo/TaskManager.js
  frontend/src/firebase.js
Labels: Bug

#151 Kevin Google Calendar Sync
  backend/pom.xml
  backend/src/main/java/com/example/timewise/controller/CalendarController.java
  backend/src/main/resources/application.properties
  frontend/package-lock.json
  frontend/package.json
  frontend/public/_headers
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/auth.js
  frontend/src/components/Calendar/CalendarEmbed.css
  frontend/src/components/Calendar/CalendarEmbed.js
  frontend/src/components/Calendar/CalendarPage.css
  frontend/src/components/Calendar/CalendarPage.js
  frontend/src/components/Calendar/Header.css
  frontend/src/components/Calendar/Header.js
  frontend/src/components/Calendar/Sidebar.css
  frontend/src/components/NavBar/Login.js
  frontend/src/components/NavBar/Navbar.js
  frontend/src/services/CalendarService.js
Labels: Frontend, Backend

#157 JL - Temporarily moved metrics charts to home page
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/components/Home/HomeSidebar.css
  frontend/src/components/Home/HomeSidebar.js
  frontend/src/components/ToDo/MetricsChart.css
  frontend/src/components/ToDo/MetricsChart.js
  frontend/src/components/ToDo/TaskCalendarChart.js
Labels: Enhancement, Frontend

#162 More Functionality and Revisions to Firebase (w/ Updates on Pre-existing Metrics)
  frontend/src/components/ToDo/HeadsUpModal.css
  frontend/src/components/ToDo/HeadsUpModal.js
  frontend/src/components/ToDo/MetricsChart.js
  frontend/src/components/ToDo/TaskCalendarChart.js
  frontend/src/components/ToDo/TaskLabelToggle.css
  frontend/src/components/ToDo/TaskList.js
  frontend/src/components/ToDo/TaskManager.css
  frontend/src/components/ToDo/TaskManager.js
  frontend/src/components/ToDo/TaskNav.css
  frontend/src/components/ToDo/TaskNav.js
  frontend/src/components/ToDo/TaskPage.js
Labels: Enhancement, Frontend
